In [9]:
from pandas_datareader import data

from bokeh.plotting import figure,output_file,show

import datetime

start=datetime.datetime(2019,3,1)

end=datetime.datetime(2019,3,15)

df=data.DataReader(name="GOOG",data_source="yahoo",start=start,end=end)

In [10]:
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-02-28,1127.650024,1111.010010,1111.300049,1119.920044,1542500,1119.920044
2019-03-01,1142.969971,1124.750000,1124.900024,1140.989990,1450300,1140.989990
2019-03-04,1158.280029,1130.689941,1146.989990,1147.800049,1446000,1147.800049
2019-03-05,1169.609985,1146.194946,1150.060059,1162.030029,1443200,1162.030029
2019-03-06,1167.566040,1155.489990,1162.489990,1157.859985,1099300,1157.859985
2019-03-07,1156.755005,1134.910034,1155.719971,1143.300049,1166600,1143.300049
2019-03-08,1147.079956,1123.300049,1126.729980,1142.319946,1212400,1142.319946
2019-03-11,1176.189941,1144.449951,1144.449951,1175.760010,1719200,1175.760010
2019-03-12,1200.000000,1178.260010,1178.260010,1193.199951,2013100,1193.199951
2019-03-13,1200.930054,1191.939941,1200.645020,1193.319946,1435900,1193.319946
2019-03-14,1197.880005,1184.479980,1194.510010,1185.550049,1172800,1185.550049
2019-03-15,1196.569946,1182.609985,1193.380005,1184.459961,2461800,1184.459961

In [11]:
def inc_dec(c,o):
    if c>o:
        value="Increase"
    elif c<o:
        value="Decrease"
    else:
        value="equal"
    return value
        
df["Status"]=[inc_dec(c,o) for c,o in zip(df.Close,df.Open)]


df["Middle"]=(df.Close+df.Open)/2

df["Height"]=abs(df.Close-df.Open)


df

,High,Low,Open,Close,Volume,Adj Close,Status,Middle,Height
Date,,,,,,,,,
2019-02-28,1127.650024,1111.010010,1111.300049,1119.920044,1542500,1119.920044,Increase,1115.610046,8.619995
2019-03-01,1142.969971,1124.750000,1124.900024,1140.989990,1450300,1140.989990,Increase,1132.945007,16.089966
2019-03-04,1158.280029,1130.689941,1146.989990,1147.800049,1446000,1147.800049,Increase,1147.395020,0.810059
2019-03-05,1169.609985,1146.194946,1150.060059,1162.030029,1443200,1162.030029,Increase,1156.045044,11.969971
2019-03-06,1167.566040,1155.489990,1162.489990,1157.859985,1099300,1157.859985,Decrease,1160.174988,4.630005
2019-03-07,1156.755005,1134.910034,1155.719971,1143.300049,1166600,1143.300049,Decrease,1149.510010,12.419922
2019-03-08,1147.079956,1123.300049,1126.729980,1142.319946,1212400,1142.319946,Increase,1134.524963,15.589966
2019-03-11,1176.189941,1144.449951,1144.449951,1175.760010,1719200,1175.760010,Increase,1160.104980,31.310059
2019-03-12,1200.000000,1178.260010,1178.260010,1193.199951,2013100,1193.199951,Increase,1185.729980,14.939941
2019-03-13,1200.930054,1191.939941,1200.645020,1193.319946,1435900,1193.319946,Decrease,1196.982483,7.325073
2019-03-14,1197.880005,1184.479980,1194.510010,1185.550049,1172800,1185.550049,Decrease,1190.030029,8.959961
2019-03-15,1196.569946,1182.609985,1193.380005,1184.459961,2461800,1184.459961,Decrease,1188.919983,8.920044

In [12]:
p=figure(x_axis_type='datetime',width=1000,height=700,tools='')

p.title.text="Finace Chart"
p.title.text_font_size="35px"
p.grid.grid_line_alpha=0.6

hours_12=12*60*60*1000

p.segment(df.index,df.High,df.index,df.Low,line_color="Black")
p.rect(df.index[df.Status=="Increase"],df.Middle[df.Status=="Increase"],hours_12,df.Height[df.Status=="Increase"],fill_color="Green",line_color="Black")


p.rect(df.index[df.Status=="Decrease"],df.Middle[df.Status=="Decrease"],hours_12,df.Height[df.Status=="Decrease"],fill_color="Red",line_color="Black")

output_file("cat.html")


show(p)